In [1]:
# Q.1:Answer

# For loop
# This is used to run a block code when the number of iterations is known.
# for example:
l = [1,2,3]
for i in l:

    print(i)
    i=i+1
    
print('---')
    
# While loop
# While loop is used to run a block code when the number of iterations is not known.
# for example:
i = 0
while i<10:
    print(i)
    i=i+1
# For loop

1
2
3
---
0
1
2
3
4
5
6
7
8
9

In [2]:
# Q.2:Answer

                        # By using for loop

# Sum of first ten natural number:

result1 = 0
for i in range(1,11):
    result1+=i
    i+=1
print('Sum of first ten natural number by using for loop =',result1)

# Product of first ten natural number:

result2 = 1
for i in range(1,11):
    result2*=i
    i+=1
print('Product of first ten natural number by using for loop =',result2)


                        # By using while loop 

# Sum of first ten natural

result3 = 0
i = 1
while i <= 10:
    result3+=i
    i+=1
print('Sum of first ten natural number by using while loop =',result3)

# Product of first ten natural:

result4 = 1
i = 1
while i <= 10:
    result4*=i
    i+=1
print('Product of first ten natural number by using while loop =',result4)

Sum of first ten natural number by using for loop = 55
Product of first ten natural number by using for loop = 3628800
Sum of first ten natural number by using while loop = 55
Product of first ten natural number by using while loop = 3628800

In [1]:
# Q.3:Answer

electrical_unit = int(input('Enter the amount of electricity consumed ='))
bill = 0
if 1<=electrical_unit<=100:
    bill=electrical_unit*4.5
elif 101<=electrical_unit<=200:
    bill=100*4.5+((electrical_unit-100)*6)
elif 201<=electrical_unit<=300:
    bill=100*4.5+100*6+((electrical_unit-200)*10)
elif electrical_unit>300:
    bill=100*4.5+100*6+100*10+((electrical_unit-300)*20)
    
print(bill)

Enter the amount of electricity consumed = 310

2250.0

In [5]:
# Q.4:Answer

# By using for loop:

l = []
l_divisible_num_list = []
for i in range(1,101):
    r=i**3
    if r%4==0 or r%5==0:
        l_divisible_num_list.append(r)
    else :
        l.append(r)
        
        
# By using while loop:

l1 = []
l_divisible_num_list_1 = []

i = 1
while i<=100:
    r1=i**3
    if r1%4==0 or r1%5==0:
        l_divisible_num_list_1.append(r1)
    else :
        l1.append(r1)
    i+=1

In [10]:
l

[1,
 27,
 343,
 729,
 1331,
 2197,
 4913,
 6859,
 9261,
 12167,
 19683,
 24389,
 29791,
 35937,
 50653,
 59319,
 68921,
 79507,
 103823,
 117649,
 132651,
 148877,
 185193,
 205379,
 226981,
 250047,
 300763,
 328509,
 357911,
 389017,
 456533,
 493039,
 531441,
 571787,
 658503,
 704969,
 753571,
 804357,
 912673,
 970299]

In [11]:
l_divisible_num_list

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [12]:
l1

[1,
 27,
 343,
 729,
 1331,
 2197,
 4913,
 6859,
 9261,
 12167,
 19683,
 24389,
 29791,
 35937,
 50653,
 59319,
 68921,
 79507,
 103823,
 117649,
 132651,
 148877,
 185193,
 205379,
 226981,
 250047,
 300763,
 328509,
 357911,
 389017,
 456533,
 493039,
 531441,
 571787,
 658503,
 704969,
 753571,
 804357,
 912673,
 970299]

In [13]:
l_divisible_num_list_1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [14]:
# Q.5:Answer
string = "I want to become a data scientist"
count = 0
for i in string:
    if i=='a' or i=='e' or i=='I' or i=='i' or i=='o' or i=='u':
        count+=1

In [15]:
count

12